<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymLinks
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^cms/(.*)$  cms/index.php/$1 [PT,L]

# 404 git directory
RewriteRule .*\.git.* - [L,R=404]
# 404 application directory
RewriteRule ^(application)/.* - [L,R=404]

# Custom favicon
RewriteRule ^(favicon\.ico)$ /brdi/clients/%{HTTP_HOST}/assets/images/global/favicon.png

# Front controller access
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [PT,L]

</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /index.php
</IfModule>
