#content {
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: auto;
	margin: 30px auto 0;
	padding: 0;
}
/* PHONE */
@media (max-width: 767px) {
	#content {
		margin-top: 0;
	}
}