body #content.page_aboutus .component_brdi_Portal_Component_RawHtml {
	font-size: 15px;
	padding: 20px;
}
.page_aboutus .header_text {
	font-size: 22px;
}
.aff_container {
	text-align: center;
	vertical-align: center;
}
.aff_container img.nkba {
	margin-top: 25px;
}
.aff_container img.bia {
	margin-top: 15px;
}